<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <table class="table" id="event-queue">
    <thead>
        <tr>
            <th>status</th>
            <th>status time</th>
            <th>name</th>
            <th>gon</th>
            <th>tel</th>
            <th>use tel</th>
            <th>val in</th>
            <th>val out</th>
        </tr>
    </thead>
    
  </table>
  <script src="javascripts/jquery-1.10.2.min.js"></script>
  <script src="javascripts/vue.js"></script>
  <script src="javascripts/socket.io.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>
